@import url('https://fonts.googleapis.com/css?family=Bad+Script');
*{
  margin: 0;
  padding: 0;

}
body{
  background-color: gray;
  font-family: 'Bad Script', cursive;
  background: url("bg3.jpg");
}



/*#particles-js{
  background-image: url("bg3.jpg");
  background-size: cover;
  height: 680px;
}*/
#particles-js{
  width:100%;
  height: 100vh;
  background-image: url("bg3.jpg");
  display: flex;
  justify-content: center;

}
#snow_fall{
  width:100%;
  height: 100vh;
  background-image: url("bg3.jpg");
  display: flex;
  justify-content: center;

}
/*#particles-js{
  width:100%;
  height:100vh;
  background: blue;
  display:flex;
  justify-content: center;
  text-align: center;
}*/
.particles-js-canvas-el{
  position:absolute;
}
.snow_fall-canvas-el{
  position:absolute;
}

body{
  background-image: url("bg3.jpg");
  background-color: black;
}

a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color:#2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow:hidden;
  transition: 0.2s;
  font-weight: bolder;
}
a:hover{
  color:#255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: -100%;
  width:100%;
  height:2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
a span:nth-child(3){
  bottom: 0;
  right:-100%;
  width:100%;
  height:2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
a span:nth-child(2){
  top: -100%;
  right:0;
  width:2px;
  height:100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
a span:nth-child(4){
  bottom: -100%;
  left:0;
  width:2px;
  height:100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

section{
  height : 0.5vh;
  background: black;
}
video{
  object-fit: cover;
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: red;
  font-size: 5em;
  font-family: cursive;
  letter-spacing: 0.2em;
}
h1 span{
  opacity:0;
  display: inline-block;
  animation: animate 2s linear forwards;
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
    filter:blur(10px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter:blur(0);
  }

}
h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 2s;
}
h1 span:nth-child(3){
    animation-delay: 2.5s;
}
h1 span:nth-child(4){
    animation-delay: 3s;
}
h1 span:nth-child(5){
    animation-delay: 3.5s;
}
h1 span:nth-child(6){
    animation-delay: 3.75s;
}
h1 span:nth-child(7){
    animation-delay: 4s;
}
h1 span:nth-child(8){
    animation-delay: 4.5s;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
  background: url("bg3.jpg");
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
  

}
